<div class="borderaccount">
    <h4> {{ oneAccount.nom }} </h4>
    <hr>
    <p>This account is {{ oneAccount.statut }} </p>
    <button [disabled]="oneAccount.statut == 'online'" (click)="changeStatut('online')" class="btn btn-success">Set to
        online</button>
    <button [disabled]="oneAccount.statut == 'offline'" (click)="changeStatut('offline')" class="btn btn-danger">Set to
        offline</button>
    <button [disabled]="oneAccount.statut == 'unknown'" (click)="changeStatut('unknown')" class="btn btn-info">Set to
        unknown</button>
</div>