<h2> Bienvenue chez notre application Angular </h2>

<h5>Navigation côté typescript</h5>

<button (click)="goToCv()" class="btn btn-success">Go To CV</button>
<button (click)="goToAccounts()" class="btn btn-info">Go To Accounts</button>
<hr>

<h5>Navigation côté template</h5>
<button routerLink="/cv" class="btn btn-danger">Go To CV</button>
<button [routerLink]="['accounts']" class="btn btn-warning">Go To Accounts</button>
<!-- <button [routerLink]="['orsys', name, 'annee', year]" class="btn btn-info">Go To Accounts</button> -->
<hr>
<app-react-form></app-react-form>